*{
    margin: 0;
    padding: 0;
    box-sizing: border-boxs;
}

html,body{
    width: 100%;
    height: 100%;
}

#main{
    display: flex;
    height: 400px;
    width: 80%;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
    background-color: red;
    scroll-snap-type: x mandatory;
}

.a{
    flex-shrink: 0;
    height: 80%;
    width: 40%; 
    background-color: yellow;
    scroll-snap-align: center;
}

.a:nth-child(2n){
    background: green;
}